/**
* @stylesheet response-type-line-point-graph.css Line & Point Graph
* @parent ux.response-types
* The line & point graph response type allows test takers to respond to an item by adding objects of various types (points, lines, line segments) to a coordinate grid.
*
* The following demo presents the line & point graph response type. The demo has limited functionality for the purpose of showing its themes and styles.
* @iframe ux/demos/response-type-line-point-graph/response-type-line-point-graph.html 700
*
*
* <span style="font-size:13px;display:block;margin-top:-30px">To view alternative presentations and styling, use the Change Theme <img src="static/img/icon-theme.svg" style="max-height: 1.75em; max-width: 1.75em;" /> and Read Aloud <img src="static/img/icon-tts.svg" style="max-height: 1.75em; max-width: 1.75em;" /> buttons in the upper-right of the screen.</span>
**/

/**
* @styles 0-lpg-grid Grid
* The primary interactions for Line & Point Graph responses occur in a coordinate grid (see the [coordinate-grids.css] page). Test takers may add various kinds of objects—points, lines, or line segments—depending on the measurement goals of the item. All objects have the same states and behaviors as interactive points and lines (see the [points-lines-polygons.css] page), though they have different colors and point shapes to maximize visibility for color-blind test takers:
* * The first object type is green <span class="no-wrap">`#008A05` <span class="callout-swatch" style="background-color:#008A05"></span></span> and has triangular points.
* * The second object type (if present) is blue <span class="no-wrap">`#0855B2` <span class="callout-swatch" style="background-color:#0855B2"></span></span> and has circular points.
* * The third object type (if present) is purple <span class="no-wrap">`#50008A` <span class="callout-swatch" style="background-color:#50008A"></span></span> and has diamond points.
* * The fourth object type (if present) is orange <span class="no-wrap">`#C35500` <span class="callout-swatch" style="background-color:#C35500"></span></span> and has square points.
*
* A label for each object type is also provided on the grid to further differentiate types. Label colors match those of their associated objects. Labels have a white <span class="no-wrap">`#FFFFFF` <span class="callout-swatch" style="background-color:#FFFFFF"></span></span> halo to ensure legibility.
*
* When there is more than one object type, the default disabled state is modified to maximize the differentiation between types: the first one to two types are a lighter gray <span class="no-wrap">`#949494` <span class="callout-swatch" style="background-color:#949494"></span></span>, while the last one to two types are a darker gray <span class="no-wrap">`#484848` <span class="callout-swatch" style="background-color:#484848"></span></span>.
**/

/**
* @styles 1-lpg-controls Controls
*
*
* Line & Point Graph responses have three sets of controls.
*
* A segmented control (see the [segmented-controls.css] page) is placed to the left of the coordinate grid. Test takers use it to select an object type. Each object is indicated by an icon matching its point shape and an optional text label.
*
* An __Object Delete__ button (see the [points-lines-polygons.css] page) is right-justified beneath the segmented control.
*
* __Undo__ and __Reset__ buttons are right-justified beneath the coordinate grid. Both buttons use the small secondary filled button style. (See the [buttons.css] page for more information.)
* * The __Undo__ button reverts the last change to the grid.
* * The __Reset__ button restores the grid to its initial state.
**/

.response-area-lpg .control-group-wrapper {
  margin: 1.792em 1.083em 0 0;
}

.response-area-lpg .btn-point-delete {
  margin: 0 0 0 auto;
}

.lp-object-labels {
  pointer-events: none;
}

.lp-point {
  fill: #008a05;
}
.lp-point[disabled],
input[type="radio"][disabled] + label .lp-point {
  fill: #949494;
}

.lp-line {
  fill: #0855b2;
}
.lp-line-icon {
  fill: #0a78ba;
}
.lp-line[disabled],
input[type="radio"][disabled] + label .lp-line-icon {
  fill: #949494;
}

.lp-multi-point {
  fill: #50008a;
}
.lp-multi-point[disabled],
.lp-multi-point .point[disabled] .point-actual,
input[type="radio"][disabled] + label .lp-multi-point {
  fill: #484848;
}

.lp-segment .line-actual {
  stroke: #c35500;
}
.lp-segment .line[disabled] .line-actual {
  stroke: #484848;
}

.lp-segment,
.lp-segment .point-actual {
  fill: #c35500;
}
.lp-segment[disabled],
.lp-segment .point[disabled] .point-actual,
input[type="radio"][disabled] + label .lp-segment {
  fill: #484848;
}
