/**
* @stylesheet response-type-bar-graph.css Bar Graph
* @parent ux.response-types
* The bar graph response type allows test takers to respond to an item by adjusting the height, number, and labels of bars in a bar graph or histogram.
*
* Bar resizing is always provided for at least one bar. Test taker adjustment of the number and labels of bars may be omitted from a given item depending on its measurement goals.
**/

/**
* @styles 0-bg-graph Graph
* Bar graphs and histograms are presented on the same graph, which includes the following elements.
* * _Title (optional)_. Centered above graph. Bolded and in all caps.
* * _Graph border_. Thick gray <span class="no-wrap">`#757575` <span class="callout-swatch" style="background-color:#757575"></span></span> line that bounds the graph.
* * _Major grid lines_. Medium-weight gray <span class="no-wrap">`#757575` <span class="callout-swatch" style="background-color:#757575"></span></span> lines that establish the major intervals of the _y_-axis.
* * _Minor grid lines (optional)_. Thin gray <span class="no-wrap">`#757575` <span class="callout-swatch" style="background-color:#757575"></span></span> lines that establish the minor intervals of the  _y_-axis.
* * _x-axis_. Thick black <span class="no-wrap">`#000000` <span class="callout-swatch" style="background-color:#000000"></span></span> line at the bottom of the graph.
* * _Axis names (optional)_. Centered next to the associated axis.
* * _Axis ticks_. Short lines along each axis indicating the increments at which the grid lines appear. _x_-axis ticks are black <span class="no-wrap">`#000000` <span class="callout-swatch" style="background-color:#000000"></span></span>, while _y_-axis ticks are gray <span class="no-wrap">`#757575` <span class="callout-swatch" style="background-color:#757575"></span></span>. For the _y_-axis, only major grid lines receive ticks.
* * _Axis tick labels_. Appear immediately below (for the _x_-axis) or to the left (for the _y_-axis) of each axis tick.
**/

/**
* @styles 1-bg-controls Controls
* A single-direction sizing handle is centered at the top of each resizable bar. (See the [transformable-objects.css] page for more information about sizing handles.)
*
* __Undo__ and __Reset__ buttons are right-justified beneath the graph. Both buttons use the small secondary filled button style. (See the [buttons.css] page for more information.)
* * The __Undo__ button reverts the last change to the graph.
* * The __Reset__ button restores the graph to its initial state.
**/

.bar-graph text {
  fill: #000;
  font-family: Calibri, sans-serif;
  font-size: 24px;
  transition: fill 0.2s;
}

.bg-title {
  font-weight: bold;
}

.bg-grid-border {
  fill: none;
  stroke: #757575;
  stroke-linecap: round;
  stroke-width: 3px;
  transition: stroke 0.2s;
}

.bg-axis {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  transition: stroke 0.2s;
}

.bg-grid-line {
  stroke: #757575;
  stroke-width: 2px;
  transition: stroke 0.2s;
}

.bg-tick {
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 2px;
  transition: stroke 0.2s;
}

/**
* @styles 2-bg-bar-graphs Bar Graph Bars
* Bar graph bars are non-contiguous and have the following states.
* * _Initial_. Visible when the bar has a height of 0. Bar has a thick blue <span class="no-wrap">`#127DFF` <span class="callout-swatch" style="background-color:#127DFF"></span></span> border. Bar fill is not visible.
* * _Default_. Bar has a light blue <span class="no-wrap">`#3B96FF` <span class="callout-swatch" style="background-color:#3B96FF"></span></span> fill.
* * _Active_. Visible while the bar’s sizing handle is being dragged. Bar fill becomes medium blue <span class="no-wrap">`#0059C4` <span class="callout-swatch" style="background-color:#0059C4"></span></span>.
* * _Pre-populated_. Visible when the bar’s height is pre-set and cannot be changed by the test taker. Styling is the same as the default state, and  no sizing handle is provided.
* * _Disabled_. Visible when the bar’s sizing handle is inactive (e.g., when a modal system tool like Scratchwork is enabled). Bar fill becomes gray <span class="no-wrap">`#949494` <span class="callout-swatch" style="background-color:#949494"></span></span>.
*
* _Demo only reflects states and theming. Other functionality not present. The second bar is in initial state, and the last bar is pre-populated._
*
* _The sizing handles provided in the Style Guide may differ from those presented to students on assessment day._
* @iframe ux/demos/response-type-bar-graph/bar-graph.html 650
**/
.bg-bar-graph-bars .bg-bar,
.bg-bar-graph-bars .bg-bar.bg-bar-prepop[disabled] {
  fill: #3b96ff;
  transition: fill 0.15s;
}
.bg-bar-graph-bars .bg-bar.active {
  fill: #0059c4;
}
.bg-bar-graph-bars .bg-bar[disabled],
.bg-bar-graph-bars .bg-bar.bg-initial[disabled] {
  fill: #949494;
}

/**
* @styles 3-bg-histograms Histogram Bars
* Histogram bars are contiguous and therefore require more assertive styling than bar graph bars to maintain WCAG contrast conformance. (See the [colors.md] page for more information about color contrast.)
*
* Histogram bars have the following states.
* * _Initial_. Visible when the bar has a height of 0. Bar has a thick blue <span class="no-wrap">`#127DFF` <span class="callout-swatch" style="background-color:#127DFF"></span></span> border. Bar fill is not visible.
* * _Default_. Bar has a light blue <span class="no-wrap">`#B8E2FF` <span class="callout-swatch" style="background-color:#B8E2FF"></span></span> fill and a gray <span class="no-wrap">`#404040` <span class="callout-swatch" style="background-color:#404040"></span></span> border.
* * _Hover_. Visible when the cursor is over the bar’s sizing handle. Bar border becomes black <span class="no-wrap">`#000000` <span class="callout-swatch" style="background-color:#000000"></span></span>.
* * _Active_. Visible while the bar’s sizing handle is being dragged. Bar border becomes black <span class="no-wrap">`#000000` <span class="callout-swatch" style="background-color:#000000"></span></span>, and fill becomes medium blue <span class="no-wrap">`#73C6FF` <span class="callout-swatch" style="background-color:#73C6FF"></span></span>.
* * _Pre-populated_. Visible when the bar’s height is pre-set and cannot be changed by the test taker. Styling is the same as the default state, and  no sizing handle is provided.
* * _Disabled_. Visible when the bar’s sizing handle is inactive (e.g., when a modal system tool like Scratchwork is enabled). Bar fill becomes gray <span class="no-wrap">`#949494` <span class="callout-swatch" style="background-color:#949494"></span></span>.
*
* _Demo only reflects states and theming. Other functionality not present. The second bar is in initial state, and the last bar is pre-populated._
*
* _The sizing handles provided in the Style Guide may differ from those presented to students on assessment day._
* @iframe ux/demos/response-type-bar-graph/histogram.html 650
**/
.bg-histogram-bars .bg-bar,
.bg-histogram-bars .bg-bar.bg-bar-prepop[disabled] {
  fill: #b8e2ff;
  stroke: #404040;
  stroke-width: 3;
  transition: fill 0.15s, stroke 0.15s;
}
.bg-histogram-bars .bg-bar.active {
  fill: #73c6ff;
}
.bg-histogram-bars .bg-bar[disabled],
.bg-histogram-bars .bg-bar.bg-initial[disabled] {
  fill: #949494;
}

.bg-histogram-bars .bg-bar.bg-initial,
.bg-bar-graph-bars .bg-bar.bg-initial {
  stroke: #127dff;
  stroke-linejoin: round;
  stroke-width: 6;
}
.bg-histogram-bars .bg-bar.bg-initial[disabled],
.bg-bar-graph-bars .bg-bar.bg-initial[disabled] {
  stroke: #949494;
}
