/**
* @stylesheet review-screen.css Review Screen
* @parent ux.features
*
* The review screen shows the number of unanswered items in the current block of discrete items and provides a way to navigate to the next block via the __Go on to the next section__ button. The screen is accessed via the last tab in the block.
*
* Review screen content changes based on the number of unanswered items in a block.
* * When more than one item is unanswered, a `warning` <span><img src="static/img/icon-warning.svg" width="12px" height="12px"></span> icon is displayed.
* * When only one item is unanswered, the word “questions” in the second sentence becomes singular (i.e., “question”).
* * When no items are unanswered,
*   * The `warning` <span><img src="static/img/icon-warning.svg" width="12px" height="12px"></span> icon changes to a `timer` <span class="icon-timer"></span> icon.
*   * The second sentence and the list of unanswered items are removed.
*
* Use the dropdown menu in the demo below to see how review screen content changes based on the number of unanswered items.
*
* The following demo presents the review screen. 
* @iframe ux/demos/review-screen/review-screen.html 500
*
*
* <span style="font-size:13px;display:block;margin-top:-30px">The demo is 67% its actual size. To see a full-size demo, click <a href="demos/review-screen/review-screen-full.html" target="_blank">here</a>.<br/>To view alternative presentations and styling, use the Change Theme <img src="static/img/icon-theme.svg" style="max-height: 1.75em; max-width: 1.75em;" /> and Read Aloud <img src="static/img/icon-tts.svg" style="max-height: 1.75em; max-width: 1.75em;" /> buttons in the upper-right of the screen.</span>
**/

.review .alert {
  border: none;
  margin: 0 0 0.5em 0;
  padding-left: 0;
}

.response-area.review {
  align-items: center;
  background: #eee;
  border: 0.05em solid #ddd;
  border-radius: 0.15em;
  display: flex;
  font-weight: bold;
  position: relative;
  transition: background 0.2s, border 0.2s;
}

.item-stem-wrapper.review p,
.response-area.review p {
  display: inline-block;
}

.list-unordered.list-review {
  margin-left: 5.56em;
}

.review-unanswered .stem-paragraph:nth-of-type(2) {
  padding-left: 0.56em;
}

.review-answered .stem-paragraph {
  padding-left: 5em;
}

.response-area.review .stem-paragraph {
  padding: 1em;
}

.response-area.review .stem-paragraph:first-of-type {
  padding-bottom: 0;
}

.response-area.review .btn.btn-next-section {
  flex: 0 0 auto;
  margin: 0 1em 0 1.5em;
  width: 9em;
}
