/**
* @stylesheet short-text-popups.css Short-text Pop-ups
* @parent ux.features
*
* When the test taker presses a short-text pop-up button, supplemental information about content immediately preceding the button is provided.
*
* Buttons are circular, contain an `asterisk` <span class="icon-asterisk"></span> icon, and are light gray so as not to overwhelm surrounding text. Short-text pop-up buttons may appear within an item or a stimulus.
*
* Pop-ups typically appear above the button but may appear below to avoid extending off-screen. Pop&#8209;up text is presented in a sans-serif typeface, regardless of the typeface used by the surrounding content.
*
* To allow pop-up content to be read by text-to-speech, pop-ups do not automatically close when the test taker taps or clicks elsewhere. Instead, pop-ups are dismissed by pressing the __Close__ button or by pressing the short-text pop-up button again. Short-text pop-ups cannot be toggled in text-to-speech mode.
*
* The following demo presents an in-text asterisk that will launch a short-text pop-up when pressed.
* @iframe ux/demos/short-text-popups/short-text-popups.html 260
*
*
* <span style="font-size:13px;display:block;margin-top:-30px">To view alternative presentations and styling, use the Change Theme <img src="static/img/icon-theme.svg" style="max-height: 1.75em; max-width: 1.75em;" /> and Read Aloud <img src="static/img/icon-tts.svg" style="max-height: 1.75em; max-width: 1.75em;" /> buttons in the upper-right of the screen.</span>
**/

.footnote-btn {
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #cacaca 100%);
  border: 0.04em solid #808080;
  border-radius: 50%;
  box-shadow: 0 0.06em 0.14em rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: "icons";
  font-size: inherit;
  font-style: normal;
  height: 1em;
  letter-spacing: normal;
  line-height: 1;
  margin: 0 0.08em;
  padding: 0 0 0 0.04em;
  pointer-events: auto;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s;
  user-select: none;
  width: 1em;
  z-index: 4;
}
.footnote-btn:hover {
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #f6f6f6 100%);
  box-shadow: 0 0.08em 0.1em rgba(0, 0, 0, 0.3);
}
html.can-touch .footnote-btn:hover {
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #cacaca 100%);
  box-shadow: 0 0.06em 0.14em rgba(0, 0, 0, 0.2);
}
.footnote-btn:active,
html.can-touch .footnote-btn:active {
  box-shadow: none;
}
.footnote-btn[disabled] {
  background: #e5e5e5;
  box-shadow: none;
  color: #909090;
  pointer-events: none;
}

.footnote-btn:before {
  content: "\e907";
  display: block;
  font-size: 0.6em;
  transition: color 0.2s;
}

.footnote-content {
  background: #fff;
  border: 0.07em solid #bbb;
  border-radius: 0.17em;
  box-shadow: 0 0 0.28em 0 rgba(0, 0, 0, 0.25), 0 0 1.38em 0 rgba(0, 0, 0, 0.25);
  font-size: 0.81rem;
  line-height: 1.2;
  max-width: 17.25em;
  opacity: 0;
  padding: 0.66em 1.97em 0.72em 0.76em;
  position: absolute;
  top: 0;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, visibility 0s 0.2s,
    opacity 0.2s;
  visibility: hidden;
  z-index: 100;
}
.footnote-content.active {
  opacity: 1;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, visibility 0s,
    opacity 0.2s;
  visibility: visible;
}

.footnote-content::before {
  background: #fff;
  border: 0.05em solid;
  border-color: transparent #bbb #bbb transparent;
  content: "";
  height: 0.69em;
  left: 49.4%;
  position: absolute;
  top: 101%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background 0.2s, border 0.2s;
  width: 0.69em;
}

.footnote-paragraph {
  border: 0.103em solid transparent;
  padding: 0 0.17em;
  transition: border 0.2s;
}
.footnote-paragraph.tts-active {
  border-color: #032855;
}

.btn.footnote-close {
  background: #ccc;
  border-radius: 50%;
  box-shadow: none;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  height: 0.94em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0.42em;
  top: 0.42em;
  width: 0.94em;
}
html.can-touch .btn.footnote-close:hover {
  background: #ccc;
}
.btn.footnote-close:hover,
html.can-touch .btn.footnote-close:active {
  background: #9f9f9f;
}
.btn.footnote-close[disabled] {
  background: #e5e5e5;
}

.btn.footnote-close::before {
  color: #333;
  content: "\e904";
  display: block;
  font-size: 0.4em;
  transition: color 0.2s;
}
html.can-touch .btn.footnote-close:hover::before {
  color: #333;
}
.btn.footnote-close:hover::before,
html.can-touch .btn.footnote-close:active::before {
  color: #000;
}
.btn.footnote-close[disabled]::before {
  color: #909090;
}
